//Color Set
$whisper: #F4F5F9;
$santas-grey: #A2A4B9;
$purple: #713BDB;
$mako: #42474A;
$wild-blue: #888CB7;
$white: #FFFBFB;
$shamrock: #33D69F;
$zircon: #f8f9ff;

// Main colors
$primary-text-color: $mako;
$secondary-text-color: $santas-grey;
$primary-brand-color: $purple;
$body-bg: $whisper;